.compliance-management-image {
  text-align: center;
}

.compliance-management-info {
    text-align: justify;
    font-size: 1.5em;
    padding: 2em;
    width: 60em;
    background-color: #34495E;
    color: white;
    margin-left: auto;
    margin-right: auto;
    




}
