
.team-logo-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15em;
    width: auto;
}
 .nameheading {
   font-size: 2.5em;
   color: teal;
   margin-top: 1em;
}
  .memberdetail {
    font-family: cursive;
    font-size: 1.2em;
    line-height: 2em;
    display: inline-block;
    width: 65em;
    margin-left: 2em;
    margin-top: 2em;
    text-align: justify;
}

.profileimage {
    display: inline-block;
    vertical-align: top;
    margin-top: 8em;


}
