.trademark-image {
  text-align: center;
}
.trademarkinfo {
    text-align: justify;
    font-size: 1.5em;
    padding: 1em;
    width: 45em;
    color: #34495E;
    margin: auto;
    line-height: 1.5em;
    font-family: inherit;


}
