<div class="about-us-image">
  <img src="../images/about-us-image.jpg" alt="" />
</div>
  <div class="firm-moto">
    सत्यं वद । घर्मं चर ।<br>
    Sathyam Vada ; Dharma Chara<br>
    Say What Is True ; Do What Is Right
  </div>

    <div class="first-para-content">
      As the above motto of our firm denotes, we believe “Strong and healthy tree bears fruit.” This law of nature applies to all, even corporate. So, we promote compliance of statutes, forming a code of conduct, healthy practices and regular check-ups in our associate firms, thus laying a strong foundation for a healthy growth.
    </div>
    <div class="second-para-content">
      We shall continually add value to the clients business through a visionary, efficient and optimal blend of services through human resources, values and technology.  The client driven approach and value added services & solutions are our key strengths.
    </div>
    <div class="third-para-content">
      Lal Ghai & Associates is a team of client committed, self-motivated, young and dynamic Company Secretaries specializing in their respective practices, holding multiple academic qualifications and experiences. We endeavor to widen and maintain our client base by continuously adhering to the highest professional standards. We always strive to cross new horizons by exploiting new avenues of services through learning & new ideas. In line to achieve our goal, we keep ourselves abreast with the frequent changes to the laws by participating in seminars, workshops arranged by the ICSI or other agencies.
    </div>
<i class="icon-ok"></i> icon-ok
