
<div class="contactusicon">
  <img src="..\images\contactus-icon.jpg" alt="" />
</div>

<div class="address-information">
      <div class="ncraddress col-md-6">
        <div class="ncraddressheading"><b><span class="glyphicon glyphicon-map-marker"></span> NCR</b></div>
          <div class="localaddress">
            GF-390, Sector-31,
          </div>
          <div class="cityandstate">
            Gurgaon-122001 (Haryana)
          </div>
          <div class="officetelephone">
             <span class="glyphicon glyphicon-phone"></span> 8284000886,9876757396,9463640466
          </div>
          <div class="emailaddress">
             <span class="glyphicon glyphicon-envelope"></span> rattanchanjotra@gmail.com,cssumitghai@gmail.com
          </div>
      </div>
      <div class="Ludhianaddress col-sm-6">
        <div class="Ludhianaddressheading"><b><span class="glyphicon glyphicon-map-marker"></span> LUDHIANA</b></div>
        <div class="localaddress">
          4th Floor, Noble Enclave, Opp. Hotel Park Plaza,
        </div>
        <div class="cityandstate">
          Bhai Wala Chowk,  Ludhiana (Punjab) – 141001,
        </div>
        <div class="officetelephone">
             <span class="glyphicon glyphicon-phone"></span> 0161-4610886,8284000886,9876757396,9463640466
        </div>
        <div class="emailaddress">
             <span class="glyphicon glyphicon-envelope"></span> rattanchanjotra@gmail.com,cssumitghai@gmail.com
        </div>
      </div>

</div>
