

<div class="aboutus-heading">Who we are?</div><br>
<div class="briefmoto ">
  Lal Ghai & Associates established is a team of client committed, self-motivated, young and dynamic Company Secretaries specializing in their respective practices, holding multiple academic qualifications and experiences. We endeavor to widen and maintain our client base by continuously adhering to the highest professional standards. We always strive to cross new horizons by exploiting new avenues of services through learning & new ideas. In line to achieve our goal, we keep ourselves abreast with the frequent changes to the laws by participating in seminars, workshops arranged by the ICSI or other agencies.
</div>

<div class="ourvision-heading">Our Vision</div><br>
<div class="vision">
  Be a Catalyst in Providing Value Added Services while promoting The Best Corporate Governance Practices.
</div>

<div class="mission-heading">Our Mission</div><br>
<div class="mission">
  To continue endeavour to pursuit the client requirement for professional services with utmost ethics, integrity & confidentiality and to ‘Make It Simple’ to comply with the Corporate Governance Principles.
</div>

<div class="important-linc-heading">Important Links</div>
<div class="important-linc">

    <a href="https://fcraonline.nic.in/home/index.aspx"> Foreign Contribution Regulation Act (FCRA)</a><br>
    <a href="http://www.icsi.edu/"> The Institute of Company Secretaries (ICSI)</a><br>
    <a href="http://www.icai.org/"> Institute of Chartered Accountants of India (ICAI)</a><br>
    <a href="http://icmai.in/icmai/"> The Institute of Cost Accountants of India (ICMAI) </a><br>
    <a href="http://www.mca.gov.in/"> Ministry of Corparate Affairs (MCA)</a><br>
    <a href="https://www.rbi.org.in/"> The Reserve of India (RBI)</a><br>
    <a href="http://incometaxindiaefiling.gov.in/"> Income Tax</a><br>
    <a href="http://www.nseindia.com"> National Stock Exchange (NSE)</a><br>
    <a href="http://www.bseindia.com/"> Bombay Stock Exchange (BSE)</a><br>
    <a href="http://www.iepf.gov.in/"> Investor Education and Protection Fund (IEPF)</a><br>
    <a href="http://www.nfcgindia.org/"> National Foundation for Corporate Governance (NCFG)</a><br>
    <a href="http://www.finlaw.in/sebi.html"> Securities and Exchange Board of India (SEBI)</a><br>
    <a href="https://nsdl.co.in/">National Securities Depository Limited (NSDL)</a> <br>
    <a href="https://www.cdslindia.com/index.html"> Central Securities Services Limited (CDS)</a><br>

</div>
