<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="..\lib\bootstrap\css\bootstrap.min.css"  rel="stylesheet" type="text/css" />
    <link href="..\css\index.css"  rel="stylesheet" type="text/css" />
    <link href="..\css\home.css"  rel="stylesheet" type="text/css" />
    <link href="..\css\contactus.css"  rel="stylesheet" type="text/css" />
    <link href="..\css\team.css"  rel="stylesheet" type="text/css" />
    <link href="..\css\aboutus.css"  rel="stylesheet" type="text/css" />
    <link href="..\css\services.css"  rel="stylesheet" type="text/css" />
    <link href="..\css\trademark.css"  rel="stylesheet" type="text/css" />
    <link href="..\css\calculator.css"  rel="stylesheet" type="text/css" />
    <link href="..\css\compliance-management.css"  rel="stylesheet" type="text/css" />
    <link href="..\lib\bootstrap\css\bootstrap-theme.min.css"  rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="..\css\header.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="..\lib\jquery\jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="..\lib\bootstrap\js\bootstrap.min.js"></script>
    <script type="text/javascript" src="..\lib\crossroads\js-signals.min.js"></script>
    <script type="text/javascript" src="..\lib\crossroads\crossroads.min.js"></script>
    <script type="text/javascript" src="..\scripts\app.js"></script>
  </head>
  <body>
    <header>
      <div class="header-navbar">
        <div class="headerimage">
          <img src="../images/header-image.jpg" alt="" />
        </div>
        <div class="navigationbar">
          <nav class="navbar navbarproperty" role = "navigation">
            <div class="container-fluid">
              <ul class="nav navbar-nav navbarlist-items">
                <li ><a href="#home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="#aboutus">About Us</a></li>
                <li><a href="#team"><span class="glyphicon glyphicon-user"></span> Team</a></li>
                <li><a href="#services"><span class="glyphicon glyphicon-wrench"></span> Services</a></li>
                <li><a href="#contactus"><span class="glyphicon glyphicon-phone-alt"></span> Contact Us</a></li>
                <li><a href="#calculator">ROC Fee Calculator</a></li>
                <li><a href="#queries"><span class="glyphicon glyphicon-comment"></span> Queries</a></li>
                <li><a href="#trademark"><span class="glyphicon glyphicon-apple"></span> Trademark</a></li>
                <li><a href="#compliance-management">Compliance Management</a></li>

              </ul>
            </div>
          </nav>
        </div>
      </div>

    </header>

    <div id="content">

    </div>
  </body>
</html>
