<div class="main-heading">
  Our Firm is providing a wide gamut of services in matters relating to the Company Law and other Corporate Laws:
</div>
<div class="companylaw-detail">
  <span class="companylaw-heading">Company Laws:</span><br>
  <ol type="1" class="companylaw-list">
    <li>Secretarial / Internal Audit and Compliance Management</li>
    <li>Formation of Company / OPC / LLP / Section 8 Company</li>
    <li>Corporate Restructuring (Mergers, De-merger, Amalgamation, Takeover, Buy Back etc.)</li>
    <li>Charge Management – Registration, modification & Satisfaction </li>
    <li>Organizing and Conducting General Meeting, Board Meeting & Class Meeting of company</li>
    <li>Shares Transfer and Transmission</li>
    <li>Alternation of Memorandum and Article of Association of Company</li>
    <li>Liaison with ROC, RD, OL, CLB, NCLT and other Govt. authorities for approvals and other activities</li>
    <li>Matters related to Oppression and Mismanagement</li>
    <li>Annual Return and XBRL Filing under Companies Act</li>
    <li>Maintenance of Secretarial records & statutory registers</li>
    <li>Filing Forms, Returns & applications by and on behalf of the company</li>
    <li>Legal opinion for matters under Company laws</li>
  </ol>
</div>
<div class="legalcompliance-detail">
  <span class="legalcompliance-heading">Legal Compliance Management Services:</span>
  <ol type="2" class="legalcompliance-list">
    <li>Legal Audit</li>
    <li>Due Diligence</li>
    <li>Enterprise Risk Management</li>
    <li>Contract Abstraction </li>
    <li>Customized Software for Compliance Management </li>
  </ol>
</div>
<div class="sebilaws-detail">
  <span class="sebilaws-heading">SEBI Laws:</span>
  <ol type="1" class="sebilaws-list">
    <li>Listing of Securities (IPO / FPO / Right Issues)</li>
    <li>Acquisition & Takeover under SEBI regulations</li>
    <li>Corporate Governance and Compliances management under Listing Agreement & SEBI Laws</li>
    <li>Procedural formalities for Preferential Issue/ Private Placement, ESOP, Bonus issue, Buy back </li>
    <li>Internal Audit of Depository Participants / Portfolio Managers/ Stock Brokers</li>
    <li>Concurrent Audit and Audit in relation to Reconciliation of Shares</li>
    <li>Investor Protection Services</li>
    <li>Compliances under Insider Trading</li>
    <li>De-listing of securities from Stock Exchange</li>
    <li>Management & Compliance of Postal Ballot</li>
  </ol>
</div>
<div class="intelluctualproperty-detail">
  <span class="intelluctualproperty-heading">Intellectual Property Rights:</span>
  <ol class="intelluctualproperty-list">
    <li>Registration/Renewal of Trade Mark, Copy Right & Design</li>
    <li>Advise / Online & manual Public Search for Trade Mark & Design</li>
    <li>To file response of examination report & attend hearing</li>
    <li>Opposing / Rectification of Trade Mark & Design</li>
    <li>To advise and file reply to various notices related to Trade Mark, Copy Right & Design</li>
    <li>To handle work related to Assignments, Licenses and User Agreements </li>
    <li>IPR Protection & Investigation services for to prevent infringement</li>
  </ol>
</div>
<div class="foreignexchange-detail">
  <span class="foreignexchange-heading">Foreign Exchange Management:</span>
  <ol class="foreignexchange-list">
    <li>Registration of Company as NBFC and setting up Liaison / Branch Office</li>
    <li>Registration for Import Export Code (IEC) and membership of Export Promotion Councils</li>
    <li>Foreign Collaborations and Joint Ventures Setting Joint Ventures/ Wholly owned subsidiaries abroad</li>
    <li>Raising of funds from international markets ADR / GDR / FCCBs / FCEBs / ECB</li>
    <li>Liaison with DGFT, FIPB & RBI for various approvals</li>
    <li>Procedures and certification related to in-bound / out-bound transactions</li>
    <li>Investment Advisory Services for NRIs</li>
    <li>Representation before Adjudicating Authorities and Compounding of offences under FEMA</li>
  </ol>
</div>
<div class="legalservice-detail">
  <span class="legalservice-heading">Legal Services:</span>
  <ol class="legalservice-list">
    <li>Drafting and vetting of various contracts and agreements</li>
      <ol type="a">
        <li>Non-Disclosure Agreements</li>
        <li>Memorandum of Understanding</li>
        <li>Material Transfer Agreement</li>
        <li>e-Commerce Agreement</li>
        <li>Consultancy Agreement</li>
        <li>Sourcing Agreement</li>
        <li>Master Agreement</li>
        <li>Other Agreements</li>
      </ol>
    <li>Drafting of legal pleadings and petitions</li>
  </ol>
</div>
<div class="taxationservices-detail">
  <span class="taxationservices-heading">Taxation Services:</span>
  <ol class="taxationservices-list">
    <li>Registration of Company / Firm under Excise, VAT, Service Tax </li>
    <li>Preparing and filing of various returns and reports under tax laws and regulations</li>
    <li>Representing Company/ Firm before the tax authorities</li>
    </ol>
</div>
<div class="bankingservices-detail">
  <span class="bankingservices-heading">Banking Services:</span>
  <ol class="bankingservices-list">
    <li>Diligence Report and Certification in respect of Consortium/multiple banking</li>
    <li>Status and Search Report</li>
    <li>Loan Syndication and Documentation</li>
    <li>Project Reports and Feasibility Studies for Project Financing</li>
  </ol>
</div>
<div class="regestrationservices-detail">
  <span class="regestrationservices-heading">Registration Services:</span>
  <ol class="regestrationservices-list">
    <li>Registration of Firm/ Society/ Trust / HUF</li>
    <li>Registration of Society/ Trust to seek exemption in respect of donations under Income Tax (80G, 12A)</li>
    <li>Registration of Trust / Society / Section 8 Company to receive Contribution / Donation from Foreign sources under Foreign Contribution (Regulations) Act 2010
    </li>
  </ol>
</div>
