<div class="team-logo-image">
  <img src="..\images\team-logo.gif" alt="" / >
</div>
<div class="teamdetail">
    <ul>
        <li >
          <div class="nameheading">CS. Rattan Lal Chanjotra, ACS</div>
          <div class="imageanddetailblock">
            <div class="profileimage">
              <img src="..\images\ratanchanjotra-image.jpg" alt="" />
            </div>

            <div class="memberdetail">He is an Associate member of the Institute of Company Secretaries of India (ICSI). Before coming up as founder Partner of Lal Ghai & Associates, he earned rich experience of over 18 years by rendering services in different capacities in Government as well as private sector with various reputed organizations from 1995 to 2013.  During his employment tenure in renowned Steel Company, he effectively handled and executed various projects under Theory of Constraints (TOC) in consultation with GOLDRATT (INDIA), a leading management consultancy firm.
              He enjoys varied experience in management of various corporate affairs, strategic issues, corporate communication, legal compliances, FEMA, FCRA etc. He also appeared before the Statutory Tribunals like Regional Director (Northern Region), Ministry of Corporate Affairs on behalf of clients.  He is also involved in various assignments related to Foreign Direct Investment (FDI) and Overseas Direct Investment (ODI). He effectively ensures compliances of SEBI related laws & regulations applicable to listed companies.  He also takes care of compliance and procedure related to incorporation and management of LLP.
              He is providing professional services to leading listed companies as Independent Director.  He is also a member of Management Committee of Ludhiana Chapter of ICSI.
              He is also a partner in DR Associates a leading firm of Company Secretaries operating in NCR region.
            </div>
          </div>

        </li>
        <li >
          <div class="nameheading">CS. Sumit Ghai, ACS, LLB</div>
          <div class="imageanddetailblock">
            <div class="profileimage">
              <img src="..\images\sumitghai-image.jpg" alt="" />
            </div>
            <div class="memberdetail">He is a Law Graduate and an Associate member of Institute of Company Secretaries of India. Before taking-up as founder partner in Lal Ghai & Associates, he has obtained a wide variety of Experience in Accounts, Finance, Secretarial related matters by working in renowned business organization in Ludhiana.  During his job tenure as an Associate Secretary, he has acquired an intricate knowledge of the Secretarial Practices & Intellectual Property Rights (IPRs) matters including appearance before the Statutory Tribunals like Regional Director (Northern Region), Ministry of Corporate Affairs and Trade Mark Registry (North).
              He handles matters of Company Law, Intellectual Property Rights and other Legal matters of the client Companies including Non-Banking Financial Companies (NBFC).  He has expert knowledge of matters related to Secretarial Practices such as holding Shareholders’ Meeting, Board Meeting, Shifting of Registered Officer from One State to another State etc. He is involved in assignments related to due diligence under Companies Laws and formation of OPC, LLPs, registration of Society & Trust.
              He is also a partner in DR Associates a leading firm of Company Secretaries operating in NCR region.
            </div>
          </div>

        </li>
    </ul>
</div>
