<div class="trademark-image">
  <img src="../images/trademark.gif" alt="" />
</div>

<div class="trademarkinfo">
  In today’s highly competitive business world, brands play very crucial role. Whenever a new product, service or an idea is created, there is every possibility that someone else may imitate it.
  Intellectual Property Rights (IPRs) mainly comprise trademarks, patents, copyrights, service marks, designs and confidential information (trade secrets), know-how etc. They usually give the owner of IPRs an exclusive right over the use of his/her creation for a certain period of time.
  There is little point in holding IPRs (trademark, copyrights etc.) unless they can be enforced against people who infringe or intend to infringe the same.  Therefore, registration & protection of IPRs are of great importance for modern industry and commerce.  Registration is a right to control the use and to prevent others from misusing certain marks, symbols and drawings and in distinguishing one from the other. Registration of IPRs also enables one to keep ahead of competitors.
  The value of Intellectual Property cannot be defined in monetary terms; it is an intangible asset of any business entity.
  To protect the interest of IPR owners, We are providing following services with regards to trademark:
  <br><br>
  <ul>
    <li>Registration Services - Registration of Trademarks.</li>
    <li>Representations before statutory authorities wherever permissible and possible.</li>
    <li>Documentation - Drafting of Application for registration of the Intellectual property rights.</li>
    <li>Other activities related IPR registration and protection</li>
  </ul>



</div>
